body {
    text-align: center;
    background: url("../img/back.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Helvetica;
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 100px;
	color: #FFA007;
}

a {
	text-decoration:none;
}

div#content {
	width: 90%;
	height: 580px;
	margin: 0 auto;
	position:absolute;
	top: 5%;
	left: 5%;
}

.line {
	width: 100px;
	height: 100px;
	padding: 15px;
	border:solid 2px #ccc;
	border-radius: 50%;
	text-align: center;
	line-height: 120px;
	font-size: 100px;
	float: left;
}

div#red.line {
	background: #EE352E;
}

div#green.line {
	background: #00933C;
}

div#blue.line {
	background: #2850AD;
}

div#orange.line {
	background: #F66319;
}

div#yellow.line {
	background: #FCCC0A;
}

div#seven.line {
	/* color */
	background: #B933AD;
}

div#g.line {
	/* color */
	background: #6CBE45;
}

div#jz.line {
	/* color */
	background: #996633;
}

div#l.line {
	/* color */
	background: #A7A9AC;
}

div#s.line {
	/* color */
	background: #808183;
}

div.lines {
	height: 138px;
	clear: both;
}
